{% extends 'main/base_template.html' %}
{% block title %} Vacancy CVs {% endblock %}
{% block content %}


    {% for client in clients %}
        <h5>{{ client.first_name }} {{ client.last_name }},

            {% if client.cv %}
                <a href="/media/{{ client.cv }}"> See CV </a>
            {% else %}
                No CV added yet
            {% endif %}
            <br> <a href="{% url 'client_detail' client.id %}"> Profile</a></h5>
        <br>


    {% endfor %}

{% endblock %}